<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.curiosity">

<!--    <uses-sdk android:minSdkVersion="10" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnalyseWeight"/>
        <activity android:name=".UpcomingVaccinations" />
        <activity android:name=".PastVaccination" />
        <activity android:name=".UpcomingCheckupRecords" />
        <activity android:name=".PastCheckupRecords" />
        <activity android:name=".FeedbackAndSupport" />
        <activity android:name=".Faq" />
        <activity android:name=".TermsAndCondition" />
        <activity android:name=".ScanPet" />
        <activity android:name=".TrackPet"/>
        <activity android:name=".UserProfile" />
        <activity android:name=".Pet" />
        <activity android:name=".SplashScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".Login" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".Dashboard" />
        <activity android:name=".BloodTests" />
        <activity android:name=".MedicalHistory" />
        <activity android:name=".TrackWeight" />
        <activity android:name=".HealthWeight" />
        <activity android:name=".CheckupRecords" />
        <activity android:name=".VaccinationRecords" />
        <activity android:name=".Settings" />
        <activity android:name=".HealthRecords" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>